<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <mat-icon class="navbar-icon">school</mat-icon>
    <span class="navbar-title">{{ title }}</span>
    <span class="navbar-spacer"></span>
    <button mat-icon-button routerLink="/dashboard" matTooltip="Dashboard">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button routerLink="/students" matTooltip="Estudiantes">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button routerLink="/courses" matTooltip="Cursos">
      <mat-icon>school</mat-icon>
    </button>
    <button mat-icon-button routerLink="/enrollments" matTooltip="Inscripciones">
      <mat-icon>assignment</mat-icon>
    </button>
    <button mat-icon-button routerLink="/statistics" matTooltip="Estadísticas">
      <mat-icon>analytics</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar> 